<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
  <ul>
  <% @student.sections.each do |s|%>
    <li><%= s.full_name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
